<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Restaurant Reservation System</h1>
    <p>Book your table</p>
 <a class="btn btn-primary" href="<%= show_inside_path %>">Book Inside</a>
 <a class="btn btn-primary" href="<%= show_outside_path %>">Book Outside</a>
 <a class="btn btn-primary" href="#">Special Event</a>

  </div>
</div>
